/* reset styles */
* {font-family:poppins;
font-size: 1.2rem;}
a {
  
  text-decoration: inherit;
  color: inherit;
}


body {
  
  background-color: blueviolet;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
